<main class="grid grid-cols-[7fr_4fr] h-screen w-screen p-6 gap-6 bg-[#f4f6f8]">
  
  <div class="w-full h-full rounded-lg overflow-hidden shadow-md border-8 border-white bg-white">
    <arcgis-map
      basemap="topo-vector"
      center="-117.15, 32.71"
      zoom="13" 
      (arcgisViewReadyChange)="arcgisViewReadyChange($event)"
      class="w-full h-full"
    ></arcgis-map>
  </div>

  <div class="flex flex-col h-full bg-white rounded-lg shadow-md border-8 border-white overflow-hidden">
    
    <div class="flex gap-4 p-4 border-b border-gray-100">
      @if (allPoint().length >= 2) {
        <button class="bg-[#3b82f6] hover:bg-blue-600 text-white font-medium py-2 px-6 rounded-md shadow-sm transition-colors" (click)="findRoute()">
            Start Route
        </button>
      } @else {
        <button class="bg-[#3b82f6] hover:bg-blue-600 text-white font-medium py-2 px-6 rounded-md shadow-sm transition-colors">
            Cannot find route
        </button>
      }

      
      <button class="bg-[#ef4444] hover:bg-red-600 text-white font-medium py-2 px-6 rounded-md shadow-sm transition-colors" (click)="clearAllPoints()">
        Clear All
      </button>
    </div>

    <div class="flex flex-col gap-4 p-6 overflow-y-auto text-gray-700 text-[15px]">
      @for (feature of allFeatures(); track $index) {
        <p> {{$index+1}}. {{ feature.attributes.text }}</p>
      } @empty {
        <p class="w-full text-red-500"> ยังไม่มีข้อมูลเส้นทาง </p>
      }
    </div>

  </div>

</main>